/*.barra {
    cursor: crosshair;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding: 20px 50px;
    list-style: none;
    display: inline-block;
    color: #032ca6;

}*/

body {
    margin: 0px;
}
header {
    display: flex;  
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    padding: 0px 50px;
}

/*.barranavegacion {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;

}*/

.imagenboton {
    height: 100px;
}


ul {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    color: #E81E74;
    }


.barra {
    text-decoration: none;
    padding: 20px 50px;
    list-style: none;
    display: inline;
}


a {
    color: #E81E74;
    cursor: pointer;
    text-decoration: none;
    }

a:hover {
    color: #032CA6;
}

.descripcion {
    font-family:  'Karla', sans-serif;
    text-align: center;
    padding: 50px;
    background-color:  #F2F2F2;
    padding-top: 150px;
}

.imageninicio {
    width: 500px;
}

.h1bajada {
    color: #E81E74;
    font-size: 25pt;
    font-weight: normal;
    margin-top: 0px;
}

.parrafotitulo {
    color: #A3A3A3;
    font-size: 15pt;
    font-weight: normal;
}

.productos {
    
   /* padding: 50px;
    align-items: flex-start;
    justify-content: space-around;    */      
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.plan {
    padding: 50px;
    display: inline-block;
    width: 350px;
    font-family:  'Karla', sans-serif;
    text-align: center;
}

.imagenplan {
    width: 250px;
}

.tituloplan1 {
    font-size: 15pt;
    font-weight: bold;
    color: #A3A3A3;
}

.tituloplan2 {
    font-size: 15pt;
    font-weight: bold;
    color:  #032CA6;
}

.tituloplan3 {
    font-size: 15pt;
    font-weight: bold;
    color:  #E81E74;
}

.textoplan{
    color: #606060;
}

.contacto {
    background: #032CA6;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.h1contacto {
    font-family:  'Karla', sans-serif;
    font-size: 30pt;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

.formulario {
    font-family:  'Karla', sans-serif;
    color: #ffffff;
    display: inline-block;
}


.cuadro {
    border-width: 0px;
    /*border-style: groove;
    border-color: threedface;
    border-image: initial;*/
}

.pcontacto {
    display: inline;
    color: #ffffff;
    font-family:  'Karla', sans-serif;
}
.redessociales {
    display: flexbox;

}

.imredes {
    width: 30px;
    justify-content: space-around;
    font-display: flex;
    text-align: center;
    vertical-align: middle
}

.instagram {
    padding: 10px 0px;
}

.mail {
    padding: 10px 0px;
}

.facebook {
    padding: 10px 0px;
}

footer {
    background-color: lightslategray;
    padding: 20px;
}

.h1footer {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    font-weight: normal;
    text-align: center;    
}

.formulario fieldset {
    border: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.botonForm {
    padding: 8px 16px;
}

/*.pfooter {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    font-weight: normal;
    text-align: center;
    font-style: italic;    
    padding: 0px;
}*/